@import url('https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css');

.swifttex {
  display: inline-block;
  line-height: 1;
  text-indent: 0;
  text-align: left;
  font-size: 1em;
}

.swifttex-display {
  display: block;
  margin: 0.5em 0;
  text-align: center;
}
